body{
    margin: 0;
    background-color: #E3E6E6;
}
.logo-img{
    width: 40px;
    height:40px;
    margin-left:10px;
}

.navbar-nav li{
    padding-left:30px;
    padding-right:30px;
    font-size: large;
    
  }


  



#clothes img{
    width:  100px;
    height: 180px;
    object-fit: cover;

}

.card{
    background-color: #FAFAFA;
}

#clothes .card-body{
    text-align: center;
}


.price{
    padding-top:4%;
    font-size: larger;
}


.cart{
    background-color: #FFD814;
    margin:1% 5% 0 12%;
}

.buy{
    background-color: #FFA41C;
    margin:1% 5%;
}


/* po up styling */

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;
    background-color:black;
    box-sizing: border-box;
    padding: 10px;
    z-index: 100;
    display: none;
    border-radius: 50px;
    /*to hide popup initially*/
}

.actual-msg{
    background-color: white;
    border-radius: 50px;
    margin-top:10%;
}
  
.close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 4px;
}

.content{

    
        width:40%;
        height:25%;
        position:fixed; 
        top: calc(50% - 25px);  
        left: calc(50% - 50px); 
      

}


/* styling flipping-po-up */

.flipping-po-up{
    background-color: #049ACF;
    color: white;
    font-size: larger;
    font-weight: 900;
    z-index: 20;
    width:70%;
    
    position: absolute;
    text-align: center;
    padding:3%;
    right:25%;
    top:30%;
    left:15%;
    
}

.flipping-po-up h1{
    margin:7% 0 5% 0;
}


/* styling song category */

.clothes-category{
    background-color: #E83283;
    color: white;
    font-family: sans-serif;
    font-size:larger;
    font-weight:3%;
    text-align: center;
    margin:1% 0;
    padding: 0.5%;
}
